version: '3.8'

services:
  app:
    build: .
    container_name: netsecurity-next
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true